
h1 { font-size: 3em; font-weight: bold; margin-top: 0;}

div#topHeaderRow {
   font-size: 0.9em;
}

.price { 
   font-weight: bold;
   color: red;
}

.similarTitle {  }

.cartText { 

}

footer {
   margin-top: 1em;
   background-color: #DCDCDC;

}

.tight-form-group {  }

#copyrightRow { 
    background-color: #3A3A3A; 
    clear: both;

}