
h1 { font-size: 3em; font-weight: bold; margin-top: 0;}

div#topHeaderRow {
   font-size: 0.9em;
}

.price { 
   font-weight: bold;
   color: red;
}

.similarTitle {  
   font-weight: bold
}

.cartText { 

}

footer {
   margin-top: 1em;
   background-color: #DCDCDC;

}

.tight-form-group {  }

#copyrightRow { 
    background-color: #3A3A3A; 
    color: #DCDCDC;
    clear: both;
   padding:0, 80px,0,80px;
}

#copyrightRow p{
text-align: left}
#copyrightRow span{
   float: right;
}
.form-control{
   max-width: 300px;
}